:root {
    --background-color: 23, 25, 26;
    --background-color-alt: 45, 45, 45;
    --background-blur: #{'rgba(var(--background-color), 0.918)'};
    --transparent: #00000000;

    --dividers: #414141;
    --dividers-alt: #ffffff;
    --font: #ffffff;
    --font-alt: #979797;

    --accent: #0073ff;
    --accent-rgb: 0, 115, 255;
    --error: #ff0000;
    --warn: #ffa600;

    --icon: var(--font);
    --special: #001C37;
}


$background: rgba(var(--background-color));
$background-color: black;
$background-alt: rgba(var(--background-color-alt));
$transparent:  var(--transparent);
$background-blur: var(--background-blur);
$dividers: var(--dividers);
$dividers-alt: var(--dividers-alt);
$font-color: var(--font);
$font-color-alt: var(--font-alt);
$accent: var(--accent);
$error: var(--error);
$warn: var(--warn);
$special: var(--special);


html {
    transition: all 0.3s ease-in-out;
}

body {
    transition: all 0.3s ease-in-out;
}

div {
    transition: all 0.3s ease-in-out;
}


/* Selections */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 6px; height: 2px;
    transition: all 0.7s ease;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb {
    background: $font-color;
    border: 0px none #ffffff;
    border-radius: 5px;
    transition: all 0.7s ease;

    &:hover {
        background: $accent;
    }
}

::-webkit-scrollbar-track {
    background-color: $transparent;
    border: 0px none #ffffff;
    transition: all 0.7s ease;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.click {
    cursor: pointer;
}

::selection {
    color: $background;
    background: $accent;
    padding: 5px;
    border-radius: 5px
}


.steps-container {
    margin-left: 1rem;
    padding-left: 1.5rem;
    counter-reset: step;
    border-left: 1px solid;
    border-color: rgb(229 231 235/1);
    margin-bottom: 3rem;
}

.steps-container h3 {
    counter-increment: step;
}

.steps-container h3:before {
    content: counter(step);
    display: inline-block;
    position: absolute;
    margin-top: 3px;
    margin-left: -41px;
    width: 33px;
    height: 33px;
    text-align: center;
    text-indent: -1px;
    color: #999;
    border-radius: 100%;
    border: 4px solid #fff;
    background: #f3f3f3;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
}
  
.dark .steps-container {
  border-color: #2e2e2e;
}

.dark .steps-container h3:before {
  color: #999;
  border: 4px solid rgba(17, 17, 17, var(--tw-bg-opacity));
  background: #2e2e2e;
}

a {
    color: $accent;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
        opacity: 1 !important;
    }
}

.brand { cursor: pointer;
    height: 40px; width: auto; margin-right: 45px;
    display: flex; align-items: center; opacity: 1 !important;

    img {
        height: 40px; width: auto;
        transform: scale(1);
        transition: ease all 0.7s;
        transform-origin: center;
        filter: drop-shadow(0px 0px 5px #ffffff00);

    }

    p {
        //font-size: 20px;
        font-weight: 700;
        margin-left: 10px;
        width: max-content;

        span {
            font-weight: 400;
            text-transform: uppercase;
        }
    }

    &:hover {
        img {
            transform: scale(1.2);
            filter: drop-shadow(0px 0px 1px white);
        }
    }
}

.projects {
    display: grid; flex-direction: column; width: 100%; gap: 20px; height: auto;
    padding: 20px 0px; margin: 0px; box-sizing: border-box;
    transition: all ease 0.3s;

    .project {
        width: 100%; height: auto; min-height: 100px;  display: flex; flex-direction: column; justify-content: center;
        border-radius: 8px; border: 1px solid rgba(255, 255, 255, 0.40);
        box-sizing: border-box; padding: 20px; position: relative;
        filter: drop-shadow(0px 0px 2.5px $transparent); overflow: hidden;

        .title {
            font-size: 16px; font-weight: 500; color: $font-color;
            margin: 0px; padding: 0px; transition: all ease 0.7s;

            &.sub {
                font-size: 14px; font-weight: 400; color: $font-color-alt;
            }
        }

        .image {
            height: 40px; width: 40px;
            border-radius: 50%; object-fit: cover;
            filter: drop-shadow(0px 0px 5px $transparent);

            transition: all ease 0.3s;

            &:hover {
                filter: drop-shadow(0px 0px 5px $font-color);
            }

        }

        .links {
            display: flex; flex-direction: row; width: 100%; gap: 20px;
            margin: 0px; padding: 0px; box-sizing: border-box; margin-top: 10px;

            
            .link {
                display: flex; flex-direction: row; align-items: center; gap: 10px;
                font-size: 14px; font-weight: 400; color: $font-color-alt; text-decoration: none;
                filter: drop-shadow(0px 0px 15px $transparent);
                
                transition: all ease 0.3s;
                
                .image {
                    height: 20px; width: 20px; object-fit: cover;
                }

                &:hover {
                    filter: drop-shadow(0px 0px 15px $font-color);
                    color: $font-color;
                }
            }
        }

        .background {
            position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px;
            opacity: 1; z-index: -1;
            transition: all ease 0.7s;

            &::before {
                content: ''; display: block; width: 100%;
                position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px;
                background: linear-gradient(90deg, $background-color, rgba($background-color, 0.35));
                opacity: 1; z-index: 1;
                transition: all ease 0.3s;
            }

            .background-image {
                width: 100%; height: 100%; object-fit: cover; transform: scale(1);
                transition: all ease 0.7s;
            }
        }

        transition: all ease 0.7s;

        &:hover { cursor: pointer;
            border: 1px solid $font-color-alt;
            filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, .40));

            .title {
                &.sub {
                    color: $font-color;
                }
            }

            .background {
                opacity: 1; 

                &::before {
                    opacity: 1;
                }

                .background-image {
                    transform: scale(1.1);
                }
            }
        }
    }

    .more {
        width: 100%; border-radius: 8px; padding: 10px; outline: 1px solid rgba($color: $font-color-alt, $alpha: .40);
        display: flex; flex-direction: row; align-items: center; justify-content: center;
        box-sizing: border-box; font-size: 14px; font-weight: 400; color: $font-color-alt;

        transition: all ease 0.3s;

        &:hover {
            background-color: rgba($color: $font-color-alt, $alpha: .10);
            color: $font-color; cursor: pointer; letter-spacing: 1px;
        }
    }
}